// button colors
$buttonColor: #000000;
$buttonHover: #8c43ce;
$topButtonHover: #000;

// text colors
$mainColor: #4db6ac;
$lightColor: #ff867c;
$titleColor: #000000;
$textColor: #000000;
$subTitle: #868e96;
$cardSubtitle: #666666;
$talkCardSubTitle: #7f8287;
$blogCardTitleColor: #262626;

// light background colors
$lightBackground1: #fff;
$lightBackground2: rgb(241, 241, 241);
$lightBackground3: #f5f2f4;
$blogCardContainerColor: #586069;

// light theme box shadows
$lightBoxShadowDark: rgba(0, 0, 0, 0.2);
$lightBoxShadow: rgba(0, 0, 0, 0.1);
$lightBoxShadowDarker: rgba(0, 0, 0, 0.3);

// hovers
$achievementCertificateCardHoverDark: rgba(255, 255, 255, 0.2);
$blogCardHoverSmallColor: rgba(255, 255, 255, 0.8);
$headerHoverBG: #f4f4f4;
$contactDetailHoverTS: #b5b5b5;